.about {
  padding: 0;

  .border-btm {
    height: 7px;
    width: 100px;
    margin-bottom: 20px;
  }

  .section-title {
    font-size: 2.4rem;
    letter-spacing: 2px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .landing-section {
    padding: 7vh 0;

    h2 {
      font-size: 3rem;
      letter-spacing: 2px;
      color: #942F03;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .border-btm {
      background-color: #942F0399;
      width: 120px;
    }

    ::ng-deep p {
      color: #5f6063;
      font-size: 1.1rem;
      letter-spacing: 1.5px;
      margin-bottom: 10px;
    }

    .illustration {
      width: 75%;
      filter: drop-shadow(0 20px 10px #942F0322);
    }
  }

  .statements-section {
    background-color: #942F03;
    padding: 7vh 0;

    .border-btm {
      background-color: #fff;
    }

    p {
      color: #f1f1f1;
      font-size: 1.5rem;
      letter-spacing: 1.5px;
      margin-bottom: 10px;
      font-weight: 600;
      line-height: 30px;
    }
  }

  .values-section {
    padding: 8vh 0;

    .section-title {
      color: #942F03;
    }

    .border-btm {
      background-color: #942F0399;
    }

    .card {
      padding: 30px 10px 30px 20px;
      margin-bottom: 20px;
      border-radius: 8px;
      border: 1px solid #f1f1f1;
      box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.05);
      display: flex;
      flex-direction: row;
      align-items: center;
      min-height: 170px;

      .image-holder {
        margin-right: 30px;

        img {
          width: 70px;
        }
      }

      h4 {
        color: #3c4043;
        font-weight: 600;
      }

      p {
        color: #5f6063;
        font-size: 0.9rem;
        margin: 0;
      }
    }
  }

  .services-section {
    padding: 5vh 0;
    background-color: #f9f9f9;

    .section-title {
      color: #942F03;
    }

    .border-btm {
      background-color: #942F0399;
    }
  }
}


@media (max-width: 3000px) {}
@media (max-width: 2000px) {}
@media (max-width: 1700px) {}
@media (max-width: 1500px) {}
@media (max-width: 1390px) {}
@media (max-width: 1290px) {}
@media (max-width: 770px) {
  .illustration{
    display: none;
  }
}

@media (max-width: 600px) {
  .illustration{
    display: block;
    margin: auto;
  }
}
