<div class="container-fluid about" [@fadeIn]>

  <div class="landing-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-7">
          <h2>About Decalogue</h2>
          <div class="border-btm"></div>

          <div [innerHTML]="about.companyStory">
          </div>

        </div>

        <div class="col-md-5 text-end text-ms-center">
          <img class="illustration" src="assets/images/company.svg" alt="illustration">
        </div>
      </div>
    </div>
  </div>


  <!-- STATEMENTS SECTION -->
  <div class="statements-section">
    <div class="container">
      <div class="row mb-ms-3">
        <div class="col-md-7 col-lg-6">
          <h3 class="section-title">Mission</h3>
          <div class="border-btm"></div>

          <p [innerHTML]="about.mission"></p>
        </div>
      </div>

      <div class="row justify-content-end">
        <div class="col-md-6 col-lg-5">
          <h3 class="section-title">Vision</h3>
          <div class="border-btm"></div>

          <p [innerHTML]="about.vision"></p>
        </div>
      </div>
    </div>
  </div>

  <!-- VALUES SECTION -->
  <div class="values-section">
    <div class="container">

      <h3 class="section-title">Core values</h3>
      <div class="border-btm"></div>

      <div class="row">
        <div class="col-md-6 col-lg-4" *ngFor="let value of about.coreValues">
          <div class="card">
            <div class="image-holder">
              <img [src]="value.imgUrl" [alt]="value.title">
            </div>

            <div class="content">
              <h4>{{value.title}}</h4>
              <p>{{value.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- TEAM SECTION -->
  <div class="team-section">
    <div class="container">

      <h3 class="section-title">Our Team</h3>
      <div class="border-btm"></div>

      <div class="row">
        <div class="col-md-6" *ngFor="let member of about.team;index as i">
          <div class="card">
            <div class="image-holder">
              <img [src]="member.profileUrl" [alt]="member.name">
            </div>
            <div class="member-details">
              <h4 class="member-name">{{member.name}}</h4>
              <span class="member-role">{{member.role}}</span>
              <p class="member-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- SERVICES SECTION -->
  <div class="services-section">
    <div class="container">

      <h2 class="section-title">Our Services</h2>
      <div class="border-btm"></div>


      <div class="row">
        <div class="col-6 col-md-4 col-lg-3" *ngFor="let service of services;">
          <div class="card">
            <h5>{{service.title}}</h5>
            <p>{{service.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
