<div class="container-fluid projects" *ngIf="projects.length" [@fadeIn]>
  <div class="container">

    <h3 class="section-title">Projects</h3>
    <div class="border-btm"></div>


    <div class="filters-section">
      <span class="filter-item" (click)="toggleProjects(filter)" *ngFor="let filter of filters.sort();" [ngClass]="{'active-filter':currentFilter === filter}">
        <span>{{filter | titlecase}}</span>
      </span>

    </div>

    <div class="row">
      <div class="col-6 col-md-4 col-lg-3" *ngFor="let project of projects;index as i" [@fadeIn]="projects.length">
        <div class="card project-card" [routerLink]="['/project',currentFilter,i,project.title | urlTitle]">
          <div class="overlay"></div>
          <img [src]="project.thumbnailUrl" onError="this.src='assets/images/default-project.png'" alt="project">
          <span>{{project.title}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
