<div class="container-fluid contact">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-ms-center">
        <img class="illustration" src="assets/images/contact.svg" alt="illustration">
      </div>
      <div class="col-md-6">
        <h2>
          Have a project? <br>
          Let's take it to the next level
        </h2>

        <div class="row">
          <div class="col-md-6">
            <div class="location-details">
              <span class="d-block"> <a href="https://maps.app.goo.gl/6xG5ypXRfQES56EE8" target="_blank">Ridgeways Springs Estate No.27</a></span>
              <span class="d-block">Off Kiambu Road </span>
              <span class="d-block">P. O. Box 100571-00101, Nairobi </span>
            </div>
          </div>
          <div class="col-md-6">

            <div class="contact-details">
              <a href="tel:020-2186873" class="d-block"><span><i class="fa-solid fa-phone"></i></span>020-2186873</a>
              <a href="tel:025441578229" class="d-block"><span><i class="fa-solid fa-phone"></i></span>254741578229</a>
              <a href="mailto:info@decalogue.co.ke" class="d-block"><span><i class="fa-solid fa-envelope"></i></span>info@decalogue.co.ke</a>
            </div>

            <div class="social-icons">
              <span title="facebook"><i class="fa-brands fa-facebook-square"></i></span>
              <span title="twitter"><i class="fa-brands fa-twitter-square"></i></span>
              <span title="linkedin"><i class="fa-brands fa-linkedin"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
