.navbar {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.05);
  height: 64px;
  background-color: #fff;

  .navbar-brand {
    img {
      width: auto;
      height: 40px;
      object-fit: contain;
    }
  }

  .navbar-nav {
    .nav-item {
      .nav-link {
        color: #5f6063;
        margin: 0 10px;

        &:hover {
          color: #942F03;
        }
      }
    }
  }

  .navbar-toggler{
    font-size: 1.5rem;
    color: #3c4043;
  }
}

.active-link {
  color: #942F03!important;
  font-weight: 600!important;
}

.drop-down-menu {
  background-color: #fff;
  position: fixed;
  top: 64px;
  right: 0;
  left: 0;
  box-shadow: 0 10px 24px 0 rgba(0,0,0,0.2);
  height: 0;
  transition: all 0.2s;

  .nav-item {
    border-bottom: 1px solid #f1f1f160;
    margin: 0;

    .nav-link {
      color: #5f6063;
      text-align: right;
      padding: 10px 20px;
      margin: 0 !important;
    }
  }
}

.show-menu {
  height: 180px;
  border-top: 1px solid #942F03;

}
@media (max-width: 770px) {
  .active-link {
    color: #fff!important;
    font-weight: 600!important;
    background-color: #942F03!important;
  }
}
