@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto/Roboto-normal-400.eot);
  src: local('Roboto'), url(../fonts/Roboto/Roboto-normal-400.ttf) format('truetype'),
    url(../fonts/Roboto/Roboto-normal-400.eot?#iefix) format('embedded-opentype'),
    url(../fonts/Roboto/Roboto-normal-400.svg#Roboto) format('svg'), url(../fonts/Roboto/Roboto-normal-400.woff) format('woff'),
    url(../fonts/Roboto/Roboto-normal-400.woff2) format('woff2');
}
