<div class="container-fluid home">

  <!-- LANDING SECTION -->
  <div>

    <!-- [ngStyle]="{'background-image':  lagerScreens ? 'linear-gradient(90deg, #942F0399 52%, transparent 52%), url(' + currentBackground?.imgUrl + ')' : 'linear-gradient(90deg, #942F0399 100%, transparent), url(' + currentBackground?.imgUrl + ')'}" -->
    <main class="landing-section">
      <div class="bg-img">
        <img [src]="currentBackground?.imgUrl" alt="bg-img" *ngIf="currentBackground" [@fadeIn]>
      </div>
      <div class="container">
        <div class="col-md-12 col-lg-6">
          <h1>Delivering <span>contemporary</span> architecture, <br> focused on <span>design excellence</span></h1>
          <button class="btn btn-cta" [routerLink]="'/contact-us'">Get in touch</button>
        </div>
      </div>
    </main>
  </div>



  <!-- SERVICES SECTION -->
  <div class="services-section">
    <div class="container">

      <h2 class="section-title">Our Services</h2>
      <div class="border-btm"></div>


      <div class="row">
        <div class="col-6 col-md-4 col-lg-3" *ngFor="let service of services;">
          <div class="card">
            <h5>{{service.title}}</h5>
            <p>{{service.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="projects-section">

    <div class="container">

      <h2 class="section-title">Projects</h2>
      <div class="border-btm"></div>

      <div class="row">
        <div class="col-6 col-md-4 col-lg-3" *ngFor="let project of projects.slice(0,8);index as i">
          <div class="card" [routerLink]="['/project','all', i,project.title | urlTitle]">
            <div class="overlay"></div>
            <img [src]="project.thumbnailUrl" alt="project" loading="lazy">
            <span>{{project.title}}</span>
          </div>
        </div>
      </div>

    </div>

  </div>

  <!-- STATS SECTION -->
  <div class="stats-section border-top">
    <div class="container">
      <div class="row">
        <div class="col-6 col-md-4" *ngFor="let stat of stats">
          <div class="card">
            <span class="d-block number">{{stat.number}} <sup><i class="fa-solid fa-plus"></i></sup></span>
            <span class="d-block description">{{stat.description}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="get-in-touch-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-ms-center">
          <img class="illustration" src="assets/images/creation_process.svg" alt="illustration">
        </div>
        <div class="col-md-6 col-lg-5">

          <h1 class="title">Why we are different from others</h1>
          <p class="description">We focus on design excellence through responsible development and technological innovation.</p>
          <p class="description">Our team is equipped with unique skillsets that allow the company to achieve success in a diverse range of commissions</p>
        </div>
      </div>

    </div>

  </div>


</div>
