<div class="footer" [ngClass]="{'pt-0':router.url.includes('contact')}">
  <div class="container">
    <div class="row" [hidden]="router.url.includes('contact')">
      <div class="col-md-6">
        <div class="d-flex">
          <img class="logo" src="assets/images/logo.png" alt="">
          <span class="hero-text">Delivering contemporary architecture, focused on design excellence</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="location-details">
          <span class="d-block"> <a href="https://maps.app.goo.gl/6xG5ypXRfQES56EE8" target="_blank">Ridgeways Springs Estate No.27</a></span>
          <span class="d-block">Off Kiambu Road </span>
          <span class="d-block">P. O. Box 100571-00101, Nairobi </span>
        </div>
      </div>
      <div class="col-md-3">

        <div class="contact-details">
          <a href="tel:020-2186873" class="d-block"><span><i class="fa-solid fa-phone"></i></span>020-2186873</a>
          <a href="tel:254741578229" class="d-block"><span><i class="fa-solid fa-phone"></i></span>254741578229</a>
          <a href="mailto:info@decalogue.co.ke" class="d-block"><span><i class="fa-solid fa-envelope"></i></span>info@decalogue.co.ke</a>
        </div>

        <div class="social-icons">
          <a href="https://www.instagram.com/decalogue_international" title="instagram"><i class="fa-brands fa-instagram-square"></i></a>
          <a href="https://twitter.com/DecalogueI" target="_blank" title="twitter"><i class="fa-brands fa-twitter-square"></i></a>
          <a href="https://www.linkedin.com/company/decalogue-international-ltd/" target="_blank" title="linkedin"><i class="fa-brands fa-linkedin"></i></a>
        </div>
      </div>
    </div>

    <div class="text-center pt-4" [ngClass]="router.url.includes('contact') ? 'mt-0': 'mt-5 border-top'">
      <p class="copyright-text">Copyright © {{year}} · <span>Decalogue International Ltd</span></p>
    </div>
  </div>
</div>
